

<%= link_to 'Home',root_path %>


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

<!-- ______________________________________________________________________________________________________-->
<!-- This is the Herizontal lists start -->
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li2 {
    float: left;
}

li2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li2 a:hover {
    background-color: #111111;
}
</style>

<body>

<ul>
  <li2><a href="#home">Home</a></li2>
  <li2><a href="#news">News</a></li2>
  <li2><a href="#contact">Contact</a></li2>
  <li2><a href="#about">About</a></li2>
</ul>
<!-- 1This is the Herizontal lists ends-->


<!-- ______________________________________________________________________________________________________-->

<!-- 2This is the PINK color starts-->
<script>document.createElement("myHero")</script>
  <style>
  myHero {
      display: block;
      background-color: #db9bc6;
      padding: 2px;
      font-size: 14px; 
     	
  }  
  </style>
  <!-- 2This is the PINK color starts-->
   <!-- ______________________________________________________________________________________________________-->
  
  <!-- 3This is the BORDER starts-->
  <style>
  body {
  border:5px solid black;
  padding: 30px;
  }

  </style>
   <!-- 3This is the BORDER ended-->

 <!-- ______________________________________________________________________________________________________-->

 <!-- 4This is the background-color starts-->

<body style = "background-color:powderblue;">

 <!-- 4This is the background-color end-->
 <!-- ______________________________________________________________________________________________________-->

<section>

<h1 style = "font-family:verdana; text-align:center">XIAOLONG LI</h1>
<h1 style = " text-align:center"><sup><ins>xiaolong-blog.herokuapp.com</ins></sup></h1>
 <!-- ______________________________________________________________________________________________________-->
<p><a href="https://xiaolong-blog.herokuapp.com">xiaolong-blog.herokuapp.com</a></p>
 <!-- ______________________________________________________________________________________________________-->

<article>
<h2 style = "font-family:courier;"><i>London</i></h2>
<li>London is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.</li>
<li>London is beautiful </li>
<li><myhero>That is London!!!!</myhero></li>

</article>

<!-- ______________________________________________________________________________________________________-->

<article>
<h2 style = "font-family:courier;">Paris</h2>
<ul2 style = "list-style-type:circle;">
<li>Paris is the capital and most populous city of France.</li>
</ul2>
</article>


<!-- ______________________________________________________________________________________________________-->

<article>
<h2 style = "font-family:courier;">Tokyo</h2>
<p>Tokyo is the capital of Japan, the center of the Greater Tokyo Area,
 and the most populous metropolitan area in the world.</p>
</article>

<p>The HTML cite element defines the title of a work.</p>
<p>Browsers usually display cite elements in italic.</p>

<img src="img_the_scream.jpg" width="220" height="277" alt="The Scream">
<p><cite>The Scream</cite> by Edvard Munch. Painted in 1893.</p>

</section>


<!-- ______________________________________________________________________________________________________-->
<!-- This is where bubble started-->
<script>
function light(sw) {
    var pic;
    if (sw == 0) {
        pic = "pic_bulboff.gif"
    } else {
        pic = "pic_bulbon.gif"
    }
    document.getElementById('myImage').src = pic;
}
</script>



<img id="myImage" src="pic_bulboff.gif" width="100" height="180">

<style>
myImage {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
</style>




<p>
<button type="button" onclick="light(1)">Light On</button>
<button type="button" onclick="light(0)">Light Off</button>
</p>
<!-- This is where bubble ended-->

</body>


<!-- ______________________________________________________________________________________________________-->
<body>

<h1>The place I live</h1>

<div id="map" style="width:400px;height:400px;background:yellow"></div>

<script>
function myMap() {
var mapOptions = {
    center: new google.maps.LatLng(40.730610, -73.935242),
    zoom: 10,
    mapTypeId: google.maps.MapTypeId.HYBRID
}
var map = new google.maps.Map(document.getElementById("map"), mapOptions);






var marker = new google.maps.Marker({
          // The below line is equivalent to writing:
          // position: new google.maps.LatLng(-34.397, 150.644)
          position: {lat: 40.730610, lng: -73.935242},
          map: map
        });

        // You can use a LatLng literal in place of a google.maps.LatLng object when
        // creating the Marker object. Once the Marker object is instantiated, its
        // position will be available as a google.maps.LatLng object. In this case,
        // we retrieve the marker's position using the
        // google.maps.LatLng.getPosition() method.
        var infowindow = new google.maps.InfoWindow({
          content: '<p>Marker Location:' + marker.getPosition() + '</p>'
        });

       
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

</body>

<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
}
.menuitem {
  padding:8px;
  margin-top:7px;
  border-bottom:1px solid #f1f1f1;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:lightblue;
  float:left;
  width:20%;
  padding:10px 15px;
  margin-top:7px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width:80%;
  }
  .right {
    width:100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
</style>
</head>
<body style="font-family:Verdana;">

<div style="background-color:#f1f1f1;padding:15px;">
  <h1>The Puplit Rock</h1>
</div>

<div style="overflow:auto">
  <div class="menu">
    <div class="menuitem">The Drive</div>
    <div class="menuitem">The Walk</div>
    <div class="menuitem">The Return</div>
    <div class="menuitem">The End</div>
  </div>

  <div class="main">
    <h2>The Walk</h2>
    <p>The walk to the Pulpit Rock will take you approximately two hours, give or take an hour depending on the weather conditions and your physical shape.</p>
    <img src="img_pulpit.jpg" style="width:100%">
  </div>

  <div class="right">
    <h2>What?</h2>
    <p>The Pulpit Rock is a part of a mountain that looks like a pulpit.</p>
    <h2>Where?</h2>
    <p>The Pulpit Rock is in Norway.</p>
    <h2>Price?</h2>
    <p>The Walk is free!</p>
  </div>
</div>

<div style="background-color:#f1f1f1;text-align:center;padding:10px;margin-top:7px;font-size:12px;">This web page is a part of a demonstration of fluid web design made by w3schools.com. Resize the browser window to see the content respond to the resizing.</div>

</body>
<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->

<title>Font Awesome Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<p>Some Font Awesome icons:</p>
<i class="fa fa-cloud"></i>
<i class="fa fa-heart"></i>
<i class="fa fa-car"></i>
<i class="fa fa-file"></i>
<i class="fa fa-bars"></i>

<p>Styled Font Awesome icons (size and color):</p>
<i class="fa fa-cloud" style="font-size:24px;"></i>
<i class="fa fa-cloud" style="font-size:36px;"></i>
<i class="fa fa-cloud" style="font-size:48px;color:red;"></i>
<i class="fa fa-cloud" style="font-size:60px;color:lightblue;"></i>

</body>





<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->


<style>
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}
</style>
</head>
<body>

<a href="default.asp" target="_blank">This is a link</a>

</body>









<!-- hidden text______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->




<style>
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>
<body style="text-align:center;">

<h2>Top Tooltip w/ Bottom Arrow</h2>

<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>

</body>






<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->




<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
</style>
</head>
<body>

<div class="header">
  <h1>Header</h1>
  <p>Resize the browser window to see the responsive effect.</p>
</div>

<div class="topnav">
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>

<div class="row">
  <div class="column side">
    <h2>Side</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
  </div>
  <div class="column middle">
    <h2>Main Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
  </div>
  <div class="column side">
    <h2>Side</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
  </div>
</div>

<div class="footer">
  <p>Footer</p>
</div>
  
</body>





</html>
