




<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

<!-- ______________________________________________________________________________________________________-->
<!-- This is the Herizontal lists start -->
<!--<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li2 {
    float: left;
}

li2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li2 a:hover {
    background-color: #111111;
}
</style>

<body>

<ul>
  <li2><a href="#home">Home</a></li2>
  <li2><a href="#news">News</a></li2>
  <li2><a href="#contact">Contact</a></li2>
  <li2><a href="#about">About</a></li2>
</ul>
<!-- 1This is the Herizontal lists ends-->


<!-- ______________________________________________________________________________________________________-->

<!-- 2This is the PINK color starts-->
<script>document.createElement("myHero")</script>
  <style>
  myHero {
      display: block;
      background-color: #db9bc6;
      padding: 2px;
      font-size: 14px; 
     	
  }  
  </style>
  <!-- 2This is the PINK color starts-->
   <!-- ______________________________________________________________________________________________________-->
  
  <!-- 3This is the BORDER starts-->
  <style>
  body {
  border:5px solid black;
  padding: 30px;
  }

  </style>
   <!-- 3This is the BORDER ended-->

 <!-- ______________________________________________________________________________________________________-->

 <!-- 4This is the background-color starts-->

<body style = "background-color:powderblue;">

 <!-- 4This is the background-color end-->
 <!-- ______________________________________________________________________________________________________-->

<section>

<h1 style = "font-family:verdana; text-align:center">XIAOLONG LI</h1>
<h1 style = " text-align:center"><sup><ins>xiaolong-blog.herokuapp.com</ins></sup></h1>
 <!-- ______________________________________________________________________________________________________-->
<p><a href="https://xiaolong-blog.herokuapp.com">xiaolong-blog.herokuapp.com</a></p>
 <!-- ______________________________________________________________________________________________________-->

<article>
<h2 style = "font-family:courier;"><i>Garan.Inc</i></h2>
<h2><sup>Junior Software Enginner</sup></h2>
<li>Work with developers to correct issues with current applications include company website</li>
<li>Leverage command lines to solve Windows, IBM lotus notes and other administrative tasks </li>
<li>Evaluate interface between hardware and software</li>
<li>Write maintainable and extensible code in a team environment </li>
<li>SysAdmin</li>
<!--<li><myhero>That is London!!!!</myhero></li>

</article>

<!-- ______________________________________________________________________________________________________-->

<article>
<h2 style = "font-family:courier;">Manhattan Borough President Office</h2>
<ul2 style = "list-style-type:circle;">
<li>Paris is the capital and most populous city of France.</li>
<li>Participated in seminar-style courses about data collection, analysis, and mapping with program cohort</li>
<li>Developed a case study on the top challenges faced by the Downtown area of Manhattan based on analysis of 311 service requests</li>
<li>Conducted interviews with twelve Manhattan community board offices and summarized findings in a data usage report created </li>
<li>Built maps for 12 districts in Manhattan based on data analysis using CartoDB and 311 open data portal </li>

</ul2>
</article>


<!-- ______________________________________________________________________________________________________-->


</section>


<!-- ______________________________________________________________________________________________________-->
<!-- This is where bubble started-->
<script>
function light(sw) {
    var pic;
    if (sw == 0) {
        pic = "pic_bulboff.gif"
    } else {
        pic = "pic_bulbon.gif"
    }
    document.getElementById('myImage').src = pic;
}
</script>



<img id="myImage" src="pic_bulboff.gif" width="100" height="180">

<style>
myImage {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
</style>




<p>
<button type="button" onclick="light(1)">Light On</button>
<button type="button" onclick="light(0)">Light Off</button>
</p>
<!-- This is where bubble ended-->

</body>


<!-- ______________________________________________________________________________________________________-->
<body>

<h1>The place I live</h1>

<div id="map" style="width:400px;height:400px;background:yellow"></div>

<script>
function myMap() {
var mapOptions = {
    center: new google.maps.LatLng(40.730610, -73.935242),
    zoom: 10,
    mapTypeId: google.maps.MapTypeId.HYBRID
}
var map = new google.maps.Map(document.getElementById("map"), mapOptions);






var marker = new google.maps.Marker({
          // The below line is equivalent to writing:
          // position: new google.maps.LatLng(-34.397, 150.644)
          position: {lat: 40.730610, lng: -73.935242},
          map: map
        });

        // You can use a LatLng literal in place of a google.maps.LatLng object when
        // creating the Marker object. Once the Marker object is instantiated, its
        // position will be available as a google.maps.LatLng object. In this case,
        // we retrieve the marker's position using the
        // google.maps.LatLng.getPosition() method.
        var infowindow = new google.maps.InfoWindow({
          content: '<p>Marker Location:' + marker.getPosition() + '</p>'
        });

       
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

</body>

<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->









</html>
