<%= link_to 'MyBlog',articles_path %> | <%= link_to 'About',about_path %>

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

<!-- ______________________________________________________________________________________________________-->



<!-- ______________________________________________________________________________________________________-->

<!-- 2This is the PINK color starts-->
<script>document.createElement("myHero")</script>
  <style>
  myHero {
      display: block;
      background-color: #db9bc6;
      padding: 2px;
      font-size: 14px; 
     	
  }  
  </style>
  <!-- 2This is the PINK color starts-->
   <!-- ______________________________________________________________________________________________________-->
  
  <!-- 3This is the BORDER starts-->
  <style>
  body {
  border:5px solid black;
  padding: 30px;
  }

  </style>
   <!-- 3This is the BORDER ended-->

 <!-- ______________________________________________________________________________________________________-->

 <!-- 4This is the background-color starts-->

<body style = "background-color:powderblue;">

 <!-- 4This is the background-color end-->
 <!-- ______________________________________________________________________________________________________-->

<section>

<h1 style = "font-family:verdana; text-align:center">XIAOLONG LI</h1>
<h1 style = " text-align:center"><ins><a href="https://xiaolong-blog.herokuapp.com"> xiaolong-blog.herokuapp.com</a></ins></h1>
 <!-- ______________________________________________________________________________________________________-->
<!--<p><a href="https://xiaolong-blog.herokuapp.com">xiaolong-blog.herokuapp.com</a></p>
 <!-- ______________________________________________________________________________________________________-->
<h1>EXPERIENCE</h1>
<article>
<h2 style = "font-family:courier;"><i>Garan.Inc</i></h2>
<li>London is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.</li>
<li>London is beautiful </li>
<li>That is London!!!!</li>

</article>

<!-- ______________________________________________________________________________________________________-->

<article>
<h2 style = "font-family:courier;">Manhattan Borough President Office</h2>
<ul2 style = "list-style-type:circle;">
<li>Data Analyst</li>
</ul2>
</article>


<!-- ______________________________________________________________________________________________________-->

<article>
<h2 style = "font-family:courier;">Lehamn College Student Life Building</h2>
<p>Student technical support, include laptop, desktop, meeting setup</p>
</article>



</section>




<p> ______________________________________________________________________________________________________</p>



<h1>PROJECTS</h1>
<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->
<!-- ______________________________________________________________________________________________________-->







