<body bgcolor = "#42f4d1"></body>
<h1 style= "text-align:center;" style = "font-family: verdana;">Hi, welcome to Xiaolong's page</h1>
<p style= "text-align:center;">I graduated from Lehman College 2017, my major was Computer Science, it was a great experiece.</p>
<p style= "text-align:center;">My hobby is travle. I would like to go to different places in the United States, to see different people, different scenes</p>
<p style= "text-align:center;">Life is amazing!!</p>




<%= link_to 'About',about_path %>