<div class = "container">
    <footer class = "footer">
        <small>
            copyright &copy; <a href = "https://github.com/XIAOLONGLII">Xiaolong GitHub</a>
            by <a href = "https://www.linkedin.com/in/xiaolong-li-49027596/">Xiaolong Li</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>